@font-face {
    font-family: "CHARTERC";
    src: url("../fonts/CHARTERC.OTF") format("opentype")
}

@font-face {
    font-family: "CHARTERC-bold";
    src: url("../fonts/CHARTERC-BOLD.OTF") format("opentype")
}

@font-face {
    font-family: "proxima-medium";
    src: url("../fonts/PROXIMA-NOVA-A-MEDIUM.OTF") format("opentype")
}

@font-face {
    font-family: "proxima";
    src: url("../fonts/PROXIMA-NOVA-A.OTF") format("opentype")
}

@font-face {
    font-family: "proxima-bold";
    src: url("../fonts/PROXIMA-NOVA-A-BOLD.OTF") format("opentype")
}

@font-face {
    font-family: "proxima-semi";
    src: url("../fonts/PROXIMA-NOVA-A-SEMIBOLD.OTF") format("opentype")
}

@media (max-width: 479px) {
    #main-logo {
        width: 50% !important;
    }
    #fb {
        width: 10vw !important;
    }
    #tw {
        width: 10vw !important;
    }
    #cover {
        height: 100% !important;
    }
    #title-wrapper {
        margin-left: 0 !important;
        margin-top: 30% !important;
    }
    #lead {
        display: none;
    }
    #lead-mobile {
        display: block !important;
        font-size: 20px !important;
        font-family: "proxima-semi";
        margin: auto;
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
        line-height: 1.5;
    }
    .usual-text-block p {
        margin-top: 1vh;
        width: 90% !important;
        margin: auto !important;
    }
    h1.title {
        letter-spacing: 1px !important;
        font-size: calc(30px + 1.5vw) !important;
    }
    .h3-header {
        margin: auto !important;
        text-align: center;
        margin-top: 10% !important;
        font-size: 40px !important;
    }
    .semi-header {
        margin: auto !important;
        width: 90% !important;
        margin-top: 5vh !important;
        margin-bottom: 5vh !important;
    }
    #main-table {
        display: block !important;
    }
    #father_container {
        height: 50vh !important;
        border-right: none !important
    }
    #container {
        height: 50vh !important;
    }
    #textBlocks {
        width: 100vw !important;
        z-index: 1 !important;
    }
    .h4-header {
        font-size: 24px !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .donate-us p {
        align-items: center !important;
        margin-left: 5vw !important;
    }
    .rubrics-container {
        display: none !important;
    }
    #menu-wrapper {
        display: block !important;
    }
    figure img {
        width: 99vw !important;
        margin-left: 0.5vw !important;
        margin-right: 0.5vw !important;
    }
    figcaption {
        margin-left: 0.5vw !important;
        margin-right: 0.5vw !important;
    }
    #infoboard {
        padding-top: 1vh !important;
    }
    #viz-explainer {
        margin-top: 1vh !important;
        margin-left: 1vw !important;
    }
    .vid-info {
        margin-top: 1vh;
        width: 99vw;
        margin-left: 0.5vw;
        margin-right: 0.5vew;
    }
}

@media (min-width: 480px) and (max-width: 1023px) {
    .rubrics-container {
        display: none !important;
    }
    #menu-wrapper {
        display: block !important;
    }
    #main-logo {
        width: 20% !important;
    }
    #fb {
        width: 3vw !important;
    }
    #tw {
        width: 3vw !important;
    }
    #cover {
        height: 100% !important;
    }
    #title-wrapper {
        margin-left: 0 !important;
    }
    #lead {
        width: 80% !important;
        margin-top: 25% !important;
        font-size: 24px !important;
    }
    #lead-mobile {
        display: none;
    }
    .usual-text-block p {
        margin-top: 1vh;
        width: 70% !important;
        margin: auto !important;
    }
    .semi-header {
        font-size: calc(20px + 0.5vw);
        font: "proxima-bold" !important;
        margin-left: 12.5vw;
        margin-right: 12.5vw;
        ;
    }
    #main-table {
        display: block !important;
    }
    #father_container {
        height: 50vh !important;
        border-right: none !important
    }
    #container {
        height: 50vh !important;
    }
    #textBlocks {
        width: 100vw !important;
        z-index: 1 !important;
    }
    .h4-header {
        font-size: 30px !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .donate-us {
        align-items: center !important;
        width: 80% !important;
    }
    figure img {
        width: 99vw !important;
        margin-left: 0.5vw !important;
        margin-right: 0.5vw !important;
    }
    figcaption {
        margin-left: 0.5vw !important;
        margin-right: 0.5vw !important;
    }
    #infoboard {
        padding-top: 1vh !important;
    }
    #viz-explainer {
        margin-top: 1vh !important;
        margin-left: 1vw !important;
        width: 99% !important;
    }
    .vid-info {
        margin-top: 1vh;
        width: 99vw;
        margin-left: 0.5vw;
        margin-right: 0.5vew;
    }
}

body {
    overflow-x: hidden;
}

.share-btn {
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.6;
}

.fa-facebook {
    letter-spacing: 1px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Brands";
    box-sizing: content-box;
    margin: 0.5em;
    cursor: pointer;
    width: 1em;
    height: 1em;
    border: 1px solid #616161;
    color: #a6a6a6;
    border-radius: 50%;
    padding: 0.5em;
    font-size: 2.0em;
    line-height: 1;
    transition: all 0.5s;
    stroke: white;
}

.fa-twitter {
    letter-spacing: 1px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Brands";
    box-sizing: content-box;
    margin: 0.5em;
    cursor: pointer;
    width: 1em;
    height: 1em;
    border: 1px solid #616161;
    color: #a6a6a6;
    border-radius: 50%;
    padding: 0.5em;
    font-size: 2.0em;
    line-height: 1;
    transition: all 0.5s;
}

#socio-icons {
    margin-left: 3vw;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    position: absolute;
}

.icon-wrapper {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

#tw {
    font-family: 'Roboto Mono', monospace;
    margin-left: 0.5vw;
}

#fb {
    font-family: 'Roboto Mono', monospace;
}

#menu-wrapper {
    grid-template-columns: 1fr 6fr;
    width: 100%;
    display: grid;
    z-index: 999;
}

#main-logo {
    grid-column: 1;
    position: relative;
    margin-left: 3vw;
    margin-top: 2vh;
    width: 10vw;
    z-index: 999;
}

.rubrics-container {
    grid-column: 2;
    margin-top: 1%;
    position: relative;
    font-family: 'ProximaNova', sans-serif;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 999;
}

.rubric {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: white;
    margin: auto;
}

.rubric a span {
    color: white !important;
}

article {
    margin-top: 5vh;
}

.header-wrapper {
    font-family: 'Roboto Mono', monospace;
    width: 90%;
    margin: 10px auto 50px auto;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    z-index: 999;
}

#black-box {
    background-color: #000;
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 30%;
    z-index: 1;
    margin-left: -1vw;
    margin-top: -1vh;
}

#main-header {
    height: 100vh;
    width: 100%;
    margin-left: -1em;
    display: flex;
    /* background-image: url('https://texty.github.io/project_russian_war_structure/pic/cover.png'); */
    /* background-size: cover; */
    overflow-x: hidden;
}

.title-wrapper {
    max-width: 80%;
    margin: auto !important;
    z-index: 999;
}

h1.title {
    color: white;
    font-family: "proxima-bold";
    font-size: calc(50px + 1.5vw);
    font-weight: 800;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em !important;
}

.title-wrapper h3 {
    font-family: 'proxima-bold';
    color: white;
    text-transform: none;
    text-align: center;
    font-size: calc(20px + 0.7vw);
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#main {
    width: 99vw;
    overflow-x: hidden;
}

a {
    color: #EA523C !important;
}

.lead-text-block {
    color: #EA523C;
    margin-bottom: 20px;
    font-size: calc(16px + 0.5vw);
    line-height: 1.5;
    font-family: 'proxima';
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    margin-bottom: 5vh;
}

.usual-text-block p {
    display: block;
    height: fit-content;
    margin-left: 25vw;
    margin-right: 25vw;
    font-family: "proxima";
    font-size: calc(14px + 0.5vw);
    color: #000000;
    line-height: 1.5;
}

.semi-header {
    color: #000;
    font: 28px "proxima-bold";
    margin-left: 25vw;
    margin-right: 25vw;
    margin-bottom: 3vh;
    margin-top: 5vh;
}

#viz-explainer {
    font-family: 'proxima';
    font-size: calc(16px + 0.5vw);
    color: grey;
    margin-top: 50%;
    margin-left: 10%;
    width: 70%;
}

#main-table {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: auto;
    /* width: 100vw; */
}

#container {
    width: 100%;
    height: 100%;
}

#father_container {
    height: 70vh;
    border-right: 2px solid grey;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

#map {
    width: 100%;
    /* max-width: 1000px; */
    height: 100%;
}

#infoboard {
    padding-top: 10%;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 1vw;
}

.info-head {
    font-family: "proxima-bold";
    font-size: calc(14px + 0.5vw);
    color: #000000;
    line-height: 1.5;
}

.info-info {
    font-family: "proxima";
    font-size: calc(14px + 0.5vw);
    color: #000000;
    line-height: 1.5;
}

.rose {
    position: absolute;
    width: 5vw;
    z-index: 999;
}

.youtube_video {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: calc(80vw / 2);
}

.audio {
    margin: auto;
    width: 100%;
    margin-bottom: 5vh;
}

.audio_caption {
    border-top: 2px solid #ed6746;
    margin-top: 5vh;
    display: block;
    margin-left: 20vw;
    margin-right: 20vw;
    font-family: 'proxima';
    max-width: 70vw;
    height: fit-content;
    font-size: calc(12px + 0.5vw);
    color: #000000;
    line-height: 1.5;
    margin-bottom: 1vh;
}

figure img {
    width: 50vw;
    margin-left: 25vw;
}

figcaption {
    margin-right: 25vw;
    margin-left: 25vw;
    font-family: "proxima";
    font-size: calc(8px + 0.5vw);
    line-height: 1.5;
}

.usual-citate p {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-style: italic;
    margin-left: 20vw;
    margin-right: 20vw;
    font-family: 'proxima';
    font-size: calc(14px + 0.5vw);
}

.donate-us {
    font-family: sans-serif;
    margin: 80px auto 30px auto;
    max-width: 800px;
}

.donate-button {
    font-family: sans-serif;
    border-bottom: 0;
    text-decoration: none;
    cursor: pointer;
    width: max-content;
    margin: auto;
    min-height: 50px;
    padding: 10px;
    color: white;
    background-color: #ed6746;
    display: flex;
}

.donate-p {
    font-family: sans-serif;
    cursor: pointer;
    color: white;
    width: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: auto !important;
    font-weight: 600;
}

#created_texty {
    font-family: 'Noto Sans', sans-serif;
    color: #33302e;
    line-height: 1.6;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 4em 15% 4em 15%;
}

#end-logo {
    width: 30vw;
    max-width: 200px;
}

#end-text {
    text-align: center;
}

.share-btn {
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.6;
}

.fa-facebook {
    letter-spacing: 1px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Brands";
    box-sizing: content-box;
    margin: 0.5em;
    cursor: pointer;
    width: 1em;
    height: 1em;
    border: 1px solid #616161;
    color: #a6a6a6;
    border-radius: 50%;
    padding: 0.5em;
    font-size: 2.0em;
    line-height: 1;
    transition: all 0.5s;
    stroke: white;
}

.fa-twitter {
    letter-spacing: 1px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Brands";
    box-sizing: content-box;
    margin: 0.5em;
    cursor: pointer;
    width: 1em;
    height: 1em;
    border: 1px solid #616161;
    color: #a6a6a6;
    border-radius: 50%;
    padding: 0.5em;
    font-size: 2.0em;
    line-height: 1;
    transition: all 0.5s;
}

#end-logo {
    width: 30vw;
}

.donate-us {
    font-family: sans-serif;
    margin: 80px auto 30px auto;
    max-width: 800px;
}

.donate-button {
    font-family: sans-serif;
    border-bottom: 0;
    text-decoration: none;
    cursor: pointer;
    width: max-content;
    margin: auto;
    min-height: 50px;
    padding: 10px;
    color: white;
    background-color: #ed6746;
    display: flex;
}

.donate-p {
    font-family: sans-serif;
    cursor: pointer;
    color: white;
    width: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: auto !important;
    font-weight: 600;
}